<div class="page-header">
	<h1>Per request list <small>{{requestUrl}}</small></h1>
</div>
<p>Warning, only the requests which duration is more than the "Minimum milliseconds to analyze a request" (available in Session > Configurations) are displayed here</p>

<table ng-table="tableParams" class="table table-bordered table-condensed table-hover table-striped">
	<tr ng-repeat="request in orderedRequests">
		<td title="Actions">
			<div class="dropdown">
				<button type="button" data-toggle="dropdown" class="btn btn-primary btn-block">Actions<b class="caret" /></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" ng-click="displayDetails(request)">Display details</a></li>
					<li><a href="" ng-click="goToGroupedStacks(request)">Stacks grouped</a></li>
				</ul>
			</div>
		</td>
		<td title="Principal" sortable="principal">{{request.principal}}</td>
		<td title="Duration" sortable="duration">{{request.duration}}</td>
		<td title="Nb Stacks" sortable="nbStacks">{{request.nbStacks}}</td>
		<td title="Start Date" sortable="startDate">{{request.startDateDisplay}}</td>
		<td title="End Date" sortable="endDate">{{request.endDateDisplay}}</td>
	</tr>
</table>

<div ng-include="'templates/includes/requestDetailsModal.html'" />