<table ng-table="tableParams" class="table table-bordered table-condensed table-hover table-striped">
	<tr ng-repeat="request in orderedSlowRequests">
		<td title="Principal" sortable="principal">{{request.principal}}</td>
		<td title="Duration" sortable="duration">{{request.duration}}</td>
		<td title="Nb Stacks" sortable="nbStacks">{{request.nbStacks}}</td>
		<td title="Start Date" sortable="startDate">{{request.startDate}}</td>
		<td title="End Date" sortable="endDate">{{request.endDate}}</td>
	</tr>
</table>