<table ng-table="tableParams" class="table table-bordered table-condensed table-hover table-striped">
	<tr ng-repeat="request in orderedRequests">
		<td title="URL" sortable="url">
			<div class="navbar">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.url}} <b class="caret" /></a>
						<ul class="dropdown-menu">
					  		<li><a href="" ng-click="goToGroupedStacks(request)">Stacks grouped</a></li>
					  		<li><a href="" ng-click="goToPerRequestStacksList(request)">Stacks per request</a></li>
					    </ul>
					</li>
				</ul>
			</div>
		</td>
		<td title="Number" sortable="n">{{request.n}}</td>
		<td title="Mean" sortable="mean">{{request.mean}}</td>
		<td title="Median" sortable="median">{{request.median}}</td>
		<td title="Min" sortable="min">{{request.min}}</td>
		<td title="Max" sortable="max">{{request.max}}</td>
	</tr>
</table>
