target
bin
.settings
.project
.classpath
test-output
*.jsfdia
*~
waw-analyzer/src/main/resources/maven.properties
waw-analyzer/src/main/resources/log4j.xml
waw-analyzer/src/main/webapp/WEB-INF/web.xml
