a {
	color: #00B7FF;
}
/* table thead{
	color: white;
	background-color: black; 
} */
.pagination ul > .disabled > a, 
	.pagination ul > .disabled > a:hover,
	.pagination ul > .disabled > a:focus{
	background-color: #999999;
	color: white;
}

/* tree based on http://acidmartin.wordpress.com/2011/09/26/css3-treevew-no-javascript/ */
.tree ul {
	/* http://stackoverflow.com/questions/1027354/need-a-unordered-list-without-any-bullets */
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: 0px;
}

.tree li + p:before {
	/* http://stackoverflow.com/a/11919684/535203 */
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	margin-right: 4px;
	content: "\f054";	/* icon-chevron-right with font-awesome */
}

.tree li + p:before {
	content: "\f078";	/* icon-chevron-down with font-awesome */
}

/* from http://stackoverflow.com/a/10513686/535203 */
#requestDetailsModal {
	width: 90%; /* desired relative width */
	left: 5%; /* (100%-width)/2 */
	/* place center */
	margin-left:auto;
	margin-right:auto; 
}
